.classpath
*/target/
*~
.project
.settings/
.vscode/
.idea/
bin/
kb/nb-configuration.xml
.log
query-logs/
*cache/
*.log
*.xml
*.csv
/mining/mining.iml
/rules/rules.iml
/inference/inference.iml
venv/*
*.rules